<!-- <div id="TheIntro">
	<h1>MILIEU</h1>
</div> -->

  <div class="row header fullwidth pos-lang">
    
    	<div class="small-12 columns lang_div">
      
      	<span class="lang en right"><%= link_to "EN", landing_path %></span>
          <span class="lang fr right"><%= link_to "FR", french_path %></span>
          
      </div>
    
  </div>
  
  <div class="row site_title">
  
  	<div class="small-12 columns">
    
    	<h1><span class="flipInY">MILIEU</span></h1>
        
    </div>
  
  </div>
  
  <div class="row body_text fullwidth">
  
  	<div class="small-12 large-8 columns small-centered large-centered">
    
    	<p>The problem in designing and constructing the future city remains in the disconnection between people, urban developers and city officials. Milieu facilitates collaborative and creative urban transformation and empowers people to be part of the city in which they live. <a href="#" data-reveal-id="myModal">Learn More</a></p>
        
    </div>
  
  </div>

  <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    
      <div class="row">

        <div class="small-12 large-4 columns">
        
        	<img src="https://s3-us-west-1.amazonaws.com/milieu-landing/images/modal1.JPG">
            <h2>PUBLIC ACCESS</h2>
            <p>Stay informed of permit applications, public hearings and project developments around your neighbourhood.</p>
            
        </div>
        
        <div class="small-12 large-4 columns">
        
        	<img src="https://s3-us-west-1.amazonaws.com/milieu-landing/images/modal2.JPG">
            <h2>PARTICIPATE</h2>
            <p>Users notice potential in their neighbourhood and can collaborate in sharing ideas for urban development.</p>
            
        </div>
        
        <div class="small-12 large-4 columns">
        
        	<img src="https://s3-us-west-1.amazonaws.com/milieu-landing/images/modal3.JPG">
            <h2>ENGAGE</h2>
            <p>Contribute to the discussion by communicating with your community both online and offline.</p>
            
        </div>
      
      </div>
      
      <div class="row">

        <div class="small-12 columns">
        
        	<a href="#" class="modal_link">Download full report</a>
            
        </div>
        
      </div>
      
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      
  </div>
      
  <div class="row timer_title fullwidth">
  
  	<div class="small-12 large-8 columns small-centered large-centered">
    
    	<h2>VOTING ENDS IN:</h2>
        
    </div>
  
  </div>
  
  
   <div class="row timer">

        <div class="small-3 columns">
        
            <h2 class="days">28</h2>
            <p>DAYS</p>
            
        </div>
        
        <div class="small-3 columns">
        
            <h2 class="hours">6</h2>
            <p>HOURS</p>
            
        </div>
        
        <div class="small-3 columns">
        
            <h2 class="minutes">28</h2>
            <p>MINUTES</p>
            
        </div>
        
        <div class="small-3 columns">
        
            <h2 class="seconds">28</h2>
            <p>SECONDS</p>
            
        </div>
      
  </div>
  
  <div class="row body_text sub_footer fullwidth">
  
  	<div class="small-12 large-8 columns small-centered large-centered">
    
    <div class="row no_padding">
    
    	<div class="small-12 large-9 columns no_padding">
        
    		<p>Go to the <a href="http://www.citiesoftomorrow.ca/">People's Choice Awards</a> hosted by Ontario's Big City Mayor's to learn more and vote for Milieu</p>
        
    	</div>
        
    	<div class="small-12 large-3 columns no_padding">  
        
        	<a href="http://www.citiesoftomorrow.ca/peoples-choice-award/" class="button right vote">Vote Milieu #80934</a>
        
        </div>
        
      </div>  
      
     </div> 
  
  </div>  
  
  
  <div class="row fullwidth no_padding footer">  
  
  	<div class="small-12 large-5 columns">
    
    	<label>Get notified when Milieu is live
        <input type="text" placeholder="EMAIL ADDRESS" />
      </label>
      
    </div> 
    
    <div class="small-12 large-3 columns no_padding">
    
      	<a href="#" class="button left">NOTIFY ME</a> 
             
    </div>
      
    <div class="small-12 large-4 columns logo_col no_padding">
    
      	<a href="#" class="contact">CONTACT</a>
		<a href="http://www.atelierruderal.com" target="_blank"><img src="https://s3-us-west-1.amazonaws.com/milieu-landing/images/ar5white-01-01.png" class="logo"></a>
           
    </div>   
      
  </div>