<div id="back-img1">
	<div class="row">
		  
		  <div class=".col-xs-4 .col-sm-4"></div>
		  
		  <div class=".col-xs-4 .col-sm-4 vertical-center">

			
				<div class="lang animated flipInY">
					<a href="<%= landing_path %>">
						<button type="button" class="btn btn-hg btn-primary" id="learn-more" data-toggle="modal" data-target=".ex-modal-lg">ENGLISH</button>
					</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="<%= french_path %>">
						<button type="button" class="btn btn-hg btn-primary" id="learn-more" data-toggle="modal" data-target=".ex-modal-lg">FRANÇAIS</button>
					</a>
				</div>
			
		</div>

		<div class=".col-xs-4 .col-sm-4"></div>

	</div>

</div>