// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
    font-family: 'ONYX';
    src: url(font-path('ONYX.ttf')) format ('truetype');
    font-weight: normal;
}

html, body {
  height: 100vh;
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  font-family: "ONYX";
  background: #444444;
  overflow-x: hidden;
}

#TheIntro {
	position: fixed;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-60%);
	-webkit-transform: translate(-50%,-60%);
	transform: translate(-50%, -60%);
	padding: 3em;
	border-radius: 3px;
	overflow-y: hidden;
	background-color: white;
	display: none;
	h1 {
		font-size: 10em;
	}
}

#back-img {
	background: url(/assets/ny-filtered.jpg) no-repeat center;
	background-size: cover;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	display: none;
}

#app-notification {
	background: url(/assets/app_notification.png) no-repeat center;
	height: 185px;
	width: 100%;
	background-size: cover;
	position: relative;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

.title {
	background-color: rgba(206, 206, 206, 0.8);
	padding: 2em 4em 2em 4em;
	color: #fff;
	border-radius: 3px;
	display: inline-block;
	h1 {
		font-size: 5em;
		.u {
			color: rgb(247, 172, 7);
			border-top: 3px solid #fff;
			margin: 0;
		}
	}
}


#right-col {
	height: 100vh;
	float: right;
	padding-right: 1em;
	
	#countdown {
		padding-top: 1em;
		color: #fff;
	}

	#countdown div {
		float: left;
		font-family: 'ONYX', Arial, sans-serif;
		font-size: 50px;
		line-height: 38px;	
	}

	#countdown em {
		display: block;
		font-size: 34px;
		text-align: right;
		padding: 0 10px 0 0;
	}

	#countdown ins {
		color: #ffbd38;
		text-decoration: none;
	}

	#countdown div.days span {
		width: 50px;
		display: inline-block;
		text-align: right;
	}

	#countdown div.hours span {
		padding: 0 14px;
	}

	#countdown div.hours em {
		text-align: left;
	}

	#countdown div.minutes span {
		padding: 0 0 0 7px;
	}

	#countdown div.minutes em {
		text-align: left;
		margin-left: -10px;
	}

	#countdown div.seconds span {
		padding-left: 10px;
	}

	#countdown div.seconds em {
		text-align: left;
		margin-left: -10px;
	}
}


#myModal {
	max-width: 85%;
}

.summary {
	// max-height: 300px;
	// overflow-y: auto;
	padding: 40px;
}

.modal-summary {
	text-align: justify;
}

.vertical-center {
	position: fixed;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-60%);
	-webkit-transform: translate(-50%,-60%);
	transform: translate(-50%, -60%);
}

.tags {
	font-size: 0.5em;
	color: #fff;
	font-weight: bold;
}

.modal-summary-wrapper {
	padding: 5px 15px 0px 15px;
	// background-color: rgba(248, 169, 155,0.2);
	// background-color: rgba(247,172,7,0.6);
	border-radius: 2px;
}

.form-horizontal {
	margin-top: 20px;
}

.btn-color {
	background-color: rgb(248, 167, 153);
}

.col-md-4 {
	position: relative;
}

.logo {
	position: absolute;
	bottom: 10px;
	right: 20px;
	background-color: rgba(255,255,255, 0.7);
	img {
		width: 140px;
	}
}

.logo:hover {
	img {
		content: url('/assets/ar5white-01-01.png');
	}
	background-color: rgba(0,0,0,0.7);
}

.vote-btn {
	text-align: center;
}

.form-control {
	width: 20em;
	display: inline-block;
	height: 2.5em;
	font-size: 1em;
}
